In [284]:
#!pip install sklearn

In [3]:
import pandas as pd
import numpy as np

In [7]:
df_performance = pd.read_csv('../data/df_dynamic_performance_merged.csv')
df_fame = pd.read_csv('../data/df_dynamic_fame_merged.csv')

In [8]:
df_performance

,name,date,score,market_value,market_value_norm,score_norm,performance
0,Christian Fassnacht,2011-02-13,0,110000.0,0.0,0.000000,0.000000
1,Christian Fassnacht,2011-02-20,0,110000.0,0.0,0.000000,0.000000
2,Christian Fassnacht,2011-02-27,0,110000.0,0.0,0.000000,0.000000
3,Christian Fassnacht,2011-03-06,0,110000.0,0.0,0.000000,0.000000
4,Christian Fassnacht,2011-03-13,0,110000.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...
11520,Vincent Sierro,2019-11-10,0,5500000.0,1.0,0.000000,1.000000
11521,Vincent Sierro,2019-11-17,0,5500000.0,1.0,0.000000,1.000000
11522,Vincent Sierro,2019-11-24,0,5500000.0,1.0,0.000000,1.000000
11523,Vincent Sierro,2019-12-01,4,5500000.0,1.0,0.266667,1.266667
11524,Vincent Sierro,2019-12-08,4,5500000.0,1.0,0.266667,1.266667

In [13]:
all_merge = pd.merge(df_fame, df_performance,  how='left', left_on=['name','date'], right_on = ['name','date'])

In [21]:
def calculate_correlation(df_sub):
    cor = df_sub['performance'].corr(df_sub['fame'])
    return cor

In [26]:
df_correlations = pd.DataFrame(all_merge.groupby('name').apply(lambda x: calculate_correlation(x))).reset_index()

df_correlations.columns = ['name', 'correlation']

In [31]:
df_correlations

                           name  correlation
0           Christian Fassnacht     0.806650
1   Christopher Martins Pereira     0.794686
2                Cédric Zesiger     0.752546
3                 Dario Marzino     0.794686
4            David Von Ballmoos     0.752546
5              Esteban Petignat     0.794686
6           Fabian Lustenberger     0.752546
7                Felix Mambimbi     0.794686
8             Frederik Sörensen     0.752546
9              Gianluca Gaudino     0.752546
10             Guillaume Hoarau     0.752546
11            Jean-Pierre Nsame     0.752546
12               Jordan Lotomba     0.752546
13                 Marco Wölfli     0.752546
14             Marvin Spielmann     0.752546
15             Michel Aebischer     0.752546
16            Miralem Sulejmani     0.179934
17           Mohamed Ali Camara     0.752546
18                Nicolas Bürgy     0.179934
19       Nicolas Moumi Ngamaleu     0.752546
20                 Roger Assalé     0.179934
21                  Saidy Janko     0.752546
22                Sandro Lauper     0.752546
23               Ulisses Garcia     0.752546
24               Vincent Sierro     0.752546

## Save to CSV

In [30]:
df_correlations.to_csv( '../data/df_correlations.csv', index=False)